@using xevents_helper.ViewModels
@model HelperViewModel

@{
    ViewBag.Title = "XEvents Helper";
}

<div class="container">
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Session Name" />
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.SelectedRelease, Model.Releases, new { @class="form-control", id = "releaseList" })
        </div>
        <div class="form-group">
            <input id="eventSearchInput" type="text" class="form-control" placeholder="Event search" />
            <div class="col-md-12">
                <div class="event-search col-md-6">
                    <table id="eventSearchResults" class="table table-hover table-condensed borderless"></table>
                </div>
            </div>
            <p id="eventDescription" class="help-block"></p>
            <button id="addEvent" type="button" class="btn btn-success">Add Event</button>
        </div>
    </div>
    <div class="col-md-6">
        <textarea class="form-control" rows="20"></textarea>
    </div>
</div>