@using xevents_helper.ViewModels
@model HelperViewModel

@{
    ViewBag.Title = "XEvents Helper";
}

<div class="container">
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Session Name" />
        </div>
        <div class="form-group">
            <select class="form-control" id="releaseList">
                <option>Select your SQL version...</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Event search" />
            <div class="event-search col-md-6">
                <table id="eventSearchResults" class="table table-hover table-condensed borderless">
                    <tr>
                        <td>
                            Event 1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Event 2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Event 3
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Event 4
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <p>This is cool...</p>
    </div>
</div>