@using xevents_helper.ViewModels
@model HelperViewModel

@{
    ViewBag.Title = "XEvents Helper";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <h2>Extended Events Helper</h2>
        </div>
    </div>
    <div class="row main-row">
        <div class="col-md-4 center-block col-centered">
            <label for="SessionName" class="control-label">Session Name</label>
            <br />
            @Html.TextBoxFor(m => m.SessionName, new { @class = "form-control", id = "SessionName" })
        </div>
    </div>
    <div class="row main-row">
        <div class="col-md-4 center-block col-centered">
            @Html.DropDownListFor(m => m.SelectedRelease, Model.Releases, new { @class = "form-control" })
        </div>
    </div>
    <div class="row main-row">
        <div class="col-md-4 center-block col-centered">
            @Html.ListBoxFor(m => m.SelectedEvent, Model.Events, new { @class = "form-control" })
        </div>
    </div>
</div>